In [2]:
import pandas as pd

In [16]:
df = pd.read_excel('././user.xlsx')
df

   name  sc  score  reason  mod
0    a1   1      0    没写作业    1
1    a2   1      0    没写作业    1
2    a3   1      0    没写作业    1
3    a4   1      0    没写作业    1
4    a5   1      0    没写作业    0
5    a6   1      0    没写作业    0
6    a7   1      0    没写作业    0
7    a8   1      0    没写作业    0
8    a9   1      0    没写作业    0
9   a10   1      0    没写作业    0
10  a11   1      0    没写作业    0
11  a12   1      0    没写作业    0
12  a13   1      0    没写作业    0
13  a14   1      0    没写作业    0
14  a15   1      0    没写作业    0
15  a16   1      0    没写作业    0
16  a17   1      0    没写作业    0
17  a18   1      0    没写作业    0
18  a19   1      0    没写作业    0
19  a20   1      0    没写作业    0
20  a21   1      0    没写作业    0
21  a22   1      0    没写作业    0
22  a23   1      0    没写作业    0
23  a24   1      0    没写作业    0
24  a25   1      0    没写作业    0
25  a26   1      0    没写作业    0
26  a27   1      0  作业写的太差    0
27  a28   1      0    没写作业    0
28  a29  12      0    没写作业    0
29  a30   1      0    没写作业    0

In [17]:
tree = df.set_index('name')
df

   name  sc  score  reason  mod
0    a1   1      0    没写作业    1
1    a2   1      0    没写作业    1
2    a3   1      0    没写作业    1
3    a4   1      0    没写作业    1
4    a5   1      0    没写作业    0
5    a6   1      0    没写作业    0
6    a7   1      0    没写作业    0
7    a8   1      0    没写作业    0
8    a9   1      0    没写作业    0
9   a10   1      0    没写作业    0
10  a11   1      0    没写作业    0
11  a12   1      0    没写作业    0
12  a13   1      0    没写作业    0
13  a14   1      0    没写作业    0
14  a15   1      0    没写作业    0
15  a16   1      0    没写作业    0
16  a17   1      0    没写作业    0
17  a18   1      0    没写作业    0
18  a19   1      0    没写作业    0
19  a20   1      0    没写作业    0
20  a21   1      0    没写作业    0
21  a22   1      0    没写作业    0
22  a23   1      0    没写作业    0
23  a24   1      0    没写作业    0
24  a25   1      0    没写作业    0
25  a26   1      0    没写作业    0
26  a27   1      0  作业写的太差    0
27  a28   1      0    没写作业    0
28  a29  12      0    没写作业    0
29  a30   1      0    没写作业    0

In [9]:
tree

      sc  score  reason  mod
name
a1     1      0    没写作业    1
a2     1      0    没写作业    1
a3     1      0    没写作业    1
a4     1      0    没写作业    1
a5     1      0    没写作业    0
a6     1      0    没写作业    0
a7     1      0    没写作业    0
a8     1      0    没写作业    0
a9     1      0    没写作业    0
a10    1      0    没写作业    0
a11    1      0    没写作业    0
a12    1      0    没写作业    0
a13    1      0    没写作业    0
a14    1      0    没写作业    0
a15    1      0    没写作业    0
a16    1      0    没写作业    0
a17    1      0    没写作业    0
a18    1      0    没写作业    0
a19    1      0    没写作业    0
a20    1      0    没写作业    0
a21    1      0    没写作业    0
a22    1      0    没写作业    0
a23    1      0    没写作业    0
a24    1      0    没写作业    0
a25    1      0    没写作业    0
a26    1      0    没写作业    0
a27    1      0  作业写的太差    0
a28    1      0    没写作业    0
a29   12      0    没写作业    0
a30    1      0    没写作业    0

In [24]:
for i in range(df.shape[0]):
    for j in df.keys():
        if j =='name':
            continue
        else:
            df.loc[i,j] =  tree.loc[df.loc[i,'name'], j]

   name  sc  score  reason  mod
0    a1   1      0    没写作业    1
1    a2   1      0    没写作业    1
2    a3   1      0    没写作业    1
3    a4   1      0    没写作业    1
4    a5   1      0    没写作业    0
5    a6   1      0    没写作业    0
6    a7   1      0    没写作业    0
7    a8   1      0    没写作业    0
8    a9   1      0    没写作业    0
9   a10   1      0    没写作业    0
10  a11   1      0    没写作业    0
11  a12   1      0    没写作业    0
12  a13   1      0    没写作业    0
13  a14   1      0    没写作业    0
14  a15   1      0    没写作业    0
15  a16   1      0    没写作业    0
16  a17   1      0    没写作业    0
17  a18   1      0    没写作业    0
18  a19   1      0    没写作业    0
19  a20   1      0    没写作业    0
20  a21   1      0    没写作业    0
21  a22   1      0    没写作业    0
22  a23   1      0    没写作业    0
23  a24   1      0    没写作业    0
24  a25   1      0    没写作业    0
25  a26   1      0    没写作业    0
26  a27   1      0  作业写的太差    0
27  a28   1      0    没写作业    0
28  a29  12      0    没写作业    0
29  a30   1      0    没写作业    0